// Variables
:root {
    --header-height: 3.5rem;
    --container-margin: 3rem;
    --section-padding: 1.5rem;

    // Colors
    --main-color: #f4b944;
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #FAFAFA;
    --white-color-2: #FAFAFA45;
    --body-color: hsl(220, 100%, 97%);
    --link-color: #206eed;
    svg {
        fill: var(--white-color);
    }

    #config-manager.light-theme {
        --main-color: #1ca4ff;
        --black-color: #c8c8c9;
        --black-color-light: #9aa4a4;
        --black-color-lighten: #79848f;
        --white-color: #0B1215;
        --white-color-2: #0B121565;
        svg {
            fill: var(--white-color);
        }
    }

    --scrollbar-width: .375rem;
    --scrollbar-track-background: var(--black-color);
    --scrollbar-thumb-background: var(--main-color);
    --scrollbar-thumb-border-radius: .25rem;

    // Fonts & size
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 0.938rem;
    @media screen and (min-width: 922px) {
        --normal-font-size: 1rem;
    }

    // Font weight
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 800;
}
