.link-button {
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    text-align: center;
    font-weight: var(--font-semi-bold);
    color: var(--white-color);
    padding: 0.3rem;
    width: 48%;
    transition: all 0.3s;
    &:hover {
        background-color: var(--black-color-lighten);
    }
    i {
        margin-right: 0.5rem;
    }
}